body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #4D84E0;
    color: white;
}

#view_container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.center-box {
    padding: 15px 50px 15px 50px;
    text-align: center;
}

.full-screen {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.awesome {
  text-align: center;
  font-size: 8.3333rem;
}

#top_title {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.slide-header {
  font-size: 4.6666rem;
  text-align: center;
}

.behind {
  z-index: -101;
}

.cover {
  background-color: #4D84E0;
  z-index: -100;
}

.cursive-header {
  text-align: center;
}
.cursive-header blockquote {
  padding: 25px;
  color: white;
  display: block;
  position: relative;
  width: 70%;
  margin: 5px auto;
  padding: 25px;
  font-family: "Georgia", Cambria, "Times New Roman", Times, serif;
  font-weight: normal;
  font-style: italic;
  font-size: 7.33333rem;
  background: none;
  border: none;
  box-shadow: none;
}

.about-text {
  font-size: 6.333rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
