body {
    margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #4D84E0;
    color: white;
}

.center-box {
    padding: 15px 50px 15px 50px;
    text-align: center;
}

.full-screen {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.awesome {
  text-align: center;
  font-size: 7rem;
}

.slide-header {
  font-size: 3.5rem;
}

.slide1 {
  text-align: center;
}
.slide5 {
  text-align: center;
}

.slide2 {
  text-align: left;
}
.slide3 {
  text-align: left;
}
.slide4 {
  text-align: left;
}
.slide6 {
  text-align: right;
}
.slide7 {
  text-align: right;
}
.slide8 {
  text-align: right;
}