body {
    margin: 0;
    font-family: sans-serif;
    background-color: #4D84E0;
}

.center-box {
    padding: 15px 50px 15px 50px;
    text-align: center;
}

.full-screen {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.awesome {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  font-size: 7rem;
  color: white;
}