<fa-modifier fa-align="[0.5, 0.5]" fa-opacity="aboutLrdOpacity()">
  <fa-modifier fa-translate="[0, -350, 0]"
 fa-size="[1700, 400]" fa-origin="[0.5, 0.5]">
  <fa-surface>
    <div class="cursive-header">
      <blockquote> &ldquo;I work for...&rdquo;</blockquote>
    </div>
  </fa-surface>
  </fa-modifier>
  <fa-modifier fa-opacity="nameOpacity()"
  fa-translate="nameTranslate()" fa-size="[1700, 200]" fa-origin="[0, 0]">
    <fa-surface>
      <div class="about-text">
        Logical Reality Design
      </div>
    </fa-surface>
  </fa-modifier>
  <fa-modifier fa-opacity="twitterOpacity()"
  fa-translate="twitterTranslate()" fa-size="[1700, 200]" fa-origin="[0, 0]">
    <fa-surface>
      <div class="about-text">
        @lrdesign
      </div>
    </fa-surface>
  </fa-modifier>
  <fa-modifier fa-opacity="emailOpacity()"
  fa-translate="emailTranslate()" fa-size="[1700, 200]" fa-origin="[0, 0]">
    <fa-surface>
      <div class="about-text">
        <i>Hire us!</i>
      </div>
    </fa-surface>
  </fa-modifier>
  <fa-modifier fa-opacity="angularOpacity()"
  fa-translate="angularTranslate()" fa-size="[400, 200]" fa-origin="[0, 0]">
    <fa-surface>
      <div class="about-text">
        <img src="img/angular-icon.png" class="logo" width="380" height="380" style="margin-bottom: 0px">
      </div>
    </fa-surface>
  </fa-modifier>
  <fa-modifier fa-opacity="railsOpacity()"
  fa-translate="railsTranslate()" fa-size="[1700, 200]" fa-origin="[0, 0]">
    <fa-surface>
      <img src="img/Ruby_on_Rails-logo.png" class="logo" width="333.125" height="425" style="margin-bottom: 0px">
    </fa-surface>
  </fa-modifier>
</fa-modifier>