<fa-modifier fa-rotate-z="rotateZ()">
  <fa-modifier fa-translate="[0, -226.6666, 0]">
    <fa-modifier fa-scale="[0.5, 0.5, 0.5]">
      <fa-modifier fa-size="[533.3333, 86.6666]" fa-origin="origin()" fa-rotate-z="inverseRotateZ()">
        <fa-modifier fa-opacity="opacity()" fa-translate="translate()">
          <fa-surface class="behind">
            <div class="slide-header slide{{getSlideNumber()}}" ng-transclude>
            </div>
          </fa-surface>
        </fa-modifier>
      </fa-modifier>
    </fa-modifier>
  </fa-modifier>
</fa-modifier>